<!doctype html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title id="title">Compre Bem</title>

    <!--
      - JavaScript and HTML must be in separate files: see our Content Security
      - Policy documentation[1] for details and explanation.
      -
      - [1]: https://developer.chrome.com/extensions/contentSecurityPolicy
     -->
      <script src="../lib/Material-Lite/material.min.js"></script>
      <script src="../Script/popup.js"></script>

      <!-- CSS Style Link -->
      <link rel="stylesheet" href="../lib/Material-Lite/RobotoTTF/Roboto.css"/>
      <link rel="stylesheet" href="../lib/Material-Lite/material.min.css"/>
      <link rel="stylesheet" href="../Style/popup.css"/>
  </head>

  <body>
  </body>
</html>